[Desktop Entry]
Comment[en_US]=
Comment=
Exec='"$HOME/.cargo/bin/xremap"' '$HOME/.config/xremap/config.yml'
GenericName[en_US]=xremap
GenericName=xremap
Icon=application-x-shellscript
MimeType=
Name[en_US]=xremap
Name=xremap
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
X-KDE-Username=
